<h1 class="heading"><%= @user.username %>'s Profile</h1>

<div class="profile-container">
  <h2 class="heading">Created Events</h2>
  <ul class="created-events">
    <% @events.each do |event| %>
      <li class="created-event">
        <%= link_to event.name, event, class: 'created-title' %>
      </li>
    <% end %>
  </ul>

  <h2 class="heading attended-events-heading">Attended Events</h2>
  <div class="attended-events">
    <div class="past-attended-events">
      <h3 class="heading">Past Events</h3>
      <ul class="past-events">
        <% @user.attended_events.where('date < ?', Date.today).order(date: :desc).each do |event| %>
          <li class="attended-event">
            <%= link_to event.name, event, class: 'attended-title' %>
          </li>
        <% end %>
      </ul>
    </div>

    <div class="future-attended-events">
      <h3 class="heading">Future Events</h3>
      <ul class="future-events">
        <% @user.attended_events.where('date >= ?', Date.today).order(date: :asc).each do |event| %>
          <li class="attended-event">
            <%= link_to event.name, event, class: 'attended-title' %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>